<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - Mini Git Server</title>
		{% else %}
		<title>Mini Git Server</title>
		{% endif %}

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-bar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Brand</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse-bar">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('public_projects') }}">Public Projects</a></li>
					<li><a href="{{ url_for('about_me') }}">About Me</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for ('login') }}">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
