{% extends 'base.html' %}

{% block content %}
	<div class="row" align="center">
		<h1>Create New Project</h1>
		<form action="" method="post" name="create_projectn">
			<fieldset class="form-group">
				{{ form.name.label }} <br>
				{{ form.name }}	<br>

				{{ form.desc.label }} <br>
				{{ form.desc }} <br>

				{{ form.public_visibility.label }} <br>
				{{ form.public_visibility }} <br>
				<p><input type="submit" value="Create Project"></p>
			</fieldset>
		</form>
	</div>
{% endblock %}
