<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Welcome to your Mini Git Server</h1>
<p>Here, you create you're own private git repositories as well as make public repos to show off to the world. You can also go to the about_me page and tell the world who you are and what you like to do.</p>
{% endblock %}