<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div align="center">
		<h1>Sign In</h1>
		<form action="" method="post" name="login">
			<fieldset class="form-group">
				{{ form.username.label }} <br>
				{{ form.username(size=20, placeholder="Enter Username") }} <br>
				{{ form.password.label }} <br>
				{{ form.password(size=20, placeholder="Enter Password") }} <br>
				<p><input type="submit" value="Sign In"></p>
			</fieldset>
		</form>
	</div>
{% endblock %}
