<!-- Projects that are public to the world -->

<!-- Extends base page -->
{% extends "base.html" %}
{% block content %}
	<div class="row">
		<a href="{{ url_for('create_new_project') }}"><button type="button">Create New Project</button></a>
	<div>
	<div class="row">
		<h1>Public Project Page</h1><br>
		{% for project in projects %}
		<div>
			<h3>{{ project.name }}</h3>
			<p>{{ project.description }}</p>
		</div>
	</div>
	{% endfor %}
{% endblock %}
